<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
      <title>Document</title>
</head>
<body style="background-color: #99A98F">
      <div class="container">
            <div class="card text-black rounded  d-flex justify-content-center align-item-center position-absolute translate-middle top-50 start-50 mt-4">
                  <div class="card-body p-5  col-12">
                        <div class="row justify-content-center">
                              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                    <H1 class="text-center mx-1 mx-md-4 mt-4 fw-bold">KAYDOL</H1>
                                    <form class=" mx-1 mx-md-4"> 
                                          
                                          <div class=" d-flex flex-row justify-content-center align-items-center form-outline flex-fill mb-4">
                                                <input      
                                                      type="text"                           
                                                      id="form3Example1c"
                                                      class="form-control"
                                                      placeholder="Adınız"
                                                >
                                          </div>
                                          <div class=" d-flex flex-row justify-content-center align-items-center form-outline flex-fill mb-4">
                                                <input                                  
                                                      type="text"                          
                                                      id="form3Example1c"
                                                      class="form-control"
                                                      placeholder="Soyadınız"
                                                >
                                          </div>
                                          <div class=" d-flex flex-row justify-content-center align-items-centerform-outline flex-fill mb-4">
                                                <input                 
                                                      type="text"                
                                                      id="form3Example1c"
                                                      class="form-control"
                                                      placeholder="Kullanıcı Adınız"
                                                >
                                          </div>
                                          <div class=" d-flex flex-row justify-content-center align-items-center form-outline flex-fill mb-4">
                                                <input     
                                                      type="email"                            
                                                      id="form3Example1c"
                                                      class="form-control"
                                                      placeholder="Emailiniz"
                                                >
                                          </div>
                                          <div class=" d-flex flex-row justify-content-center align-items-center form-outline flex-fill mb-4">
                                                <input     
                                                      type="password"                            
                                                      id="form3Example1c"
                                                      class="form-control"
                                                      placeholder="Şifreniz"
                                                >
                                          </div>
                        
                                          <div class="d-flex flex-row justify-content-center align-items-center form-outline flex-fill mb-4">
                                                <label>Hesabın Yok mu?</label>
                                          </div>
                        
                                          <div class=" d-flex flex-row justify-content-center align-items-center form-outline flex-fill mx-4 mb-lg-4 mb-4"> 
                                                <button type="submit" class="btn btn-primary btn-lg">KAYDOL</button>
                                          </div>
                        
                                    </form>
                              </div>
                              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                    <div class="d-flex justify-content-center align-items-center">
                                          <img
                                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                            class="img-fluid"
                                            alt="Sample image"
                                          />
                                        </div>
                              </div>
                        </div>

            </div>
      </div>
      </div>
      
</body>
</html>